<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tech Module 4.0</title>
</head>
<body>
<form th:action="@{/user}" th:method="post">
    <input type="text" name="name" placeholder="Name"/>
    <input type="email" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" />
</form>

<ul th:each="user : ${users}">
   <li th:text="${user.email}"></li>
</ul>

</body>
</html>